NODE_ENV=development
PORT=3000

CORS_ORIGIN=http://localhost:5173

# -- Local setup --

# PostgreSQL configuration
LOCAL_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/volontweet

# Neo4j configuration
LOCAL_NEO4J_SCHEME=neo4j
LOCAL_NEO4J_HOST=localhost
LOCAL_NEO4J_PORT=7687
LOCAL_NEO4J_USERNAME=neo4j
LOCAL_NEO4J_PASSWORD=neo4jpassword

# Redis configuration
LOCAL_REDIS_HOST=127.0.0.1
LOCAL_REDIS_PORT=6379
LOCAL_REDIS_PASSWORD=
LOCAL_REDIS_DB=0
LOCAL_REDIS_TLS=false

# -- Cloud setup --

# PostgreSQL (Neontech)
DATABASE_URL=

# Neo4j (neo4j aura)
NEO4J_SCHEME=neo4j+s
NEO4J_HOST=
NEO4J_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=

# Redis (Upstash)
REDIS_URL=

# -- Common configuration --

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d